[user]
  name = sanshirookazaki
  email = sanshirookazaki@gmail.com
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[diff]
  indentHeuristic = true
[commit]
  template = ~/.gitcommit_template

[ghq]
  root = ~/go/src
  root = ~/.ghq
